@import "../../assets/sass/main.scss";

.column__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--scrollbar-bg-cl);
  padding-bottom: 9px;
  padding-top: 22px;
}
.column__flex {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.column__icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 35px;
  padding-right: 13px;
}
.icon__book {
  color: var(--placeholder-text-cl);
}
.column__title {
  color: var(--main-text-cl);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  width: 208px;
}

.column__right {
  padding-left: 35px;
  width: 40%;
  @include font(500, 12px, 2.8);
}
.column__left {
  width: 60%;
  padding-right: 30px;
  color: var(--main-text-cl);
  @include font(500, 12px, 2.8);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.table__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 11px;
  padding-bottom: 11px;
  color: var(--main-text-cl);
  border-bottom: 1px solid var(--scrollbar-bg-cl);
  @include font(500, 14px, 1.21);
}
.table__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 17px;
  width: 39px;
}
.table__title {
  width: 224px;
  padding-right: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  @include vp(desktop) {
    width: 322px;
  }
}
.table__author {
  width: 186px;
  padding-right: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  @include vp(desktop) {
    width: 222px;
  }
}
.table__year {
  width: 90px;
  padding-right: 20px;
  @include vp(desktop) {
    width: 123px;
  }
}
.table__pagesTotal {
  width: 70px;
  padding-left: 20px;
  @include vp(desktop) {
    width: 140px;
  }
}
