body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background-color: var(--secondary-bg-cl);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}
:root {
  --body-bg: #E5E5E5;
  --main-text-cl: #242A37;
  --error-text-color: #ff0000;
  --secondary-text-cl: #898F9F;
  --placeholder-text-cl: #A6ABB9;
  --additional-text-cl: #000000;
  --auth-bg-cl: #F5F7FA;
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #F6F7FB;
  --additional-bg-cl: #6D7A8D;
  --training-bg-cl: #B1B5C2;
  --chart-plan-cl: #091E3F;
  --accent-active-cl: #FF6B08;
  --accent-active-cl-hover: #da5b06;
  --scrollbar-bg-cl:#E0E5EB;
}

.column__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid var(--scrollbar-bg-cl);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: var(--secondary-text-cl);
}

div.column__list {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--scrollbar-bg-cl);
}

.column__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid var(--scrollbar-bg-cl);
  padding-bottom: 9px;
  padding-top: 22px;
}

.column__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon__del {
  margin-right: 13px;
  color: var(--placeholder-text-cl);
}

.column__title {
  color: var(--main-text-cl);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  width: 81%;
}

.column__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
  background-color: transparent;
  width: 11%;
}

.column__right {
  padding-left: 35px;
  width: 40%;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.8;
}

.column__left {
  width: 60%;
  padding-right: 30px;
  color: var(--main-text-cl);
  font-weight: 500;
  font-size: 12px;
  line-height: 2.8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.table__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.71;
  color: var(--secondary-text-cl);
  padding-top: 40px;
}

.table__top {
  border-top: 1px solid var(--scrollbar-bg-cl);
  border-bottom: 1px solid var(--scrollbar-bg-cl);
}

.table__top span:first-child {
  margin-right: 195px;
}

.table__top span:nth-child(2) {
  margin-right: 133px;
}

.table__top span:last-child {
  margin-left: 50px;
}

.table__topEmpty {
  border-top: 1px solid var(--scrollbar-bg-cl);
  border-bottom: 1px solid var(--scrollbar-bg-cl);
}

.table__topEmpty span:first-child {
  margin-right: 275px;
}

.table__topEmpty span:nth-child(2) {
  margin-right: 133px;
}

.table__topEmpty span:last-child {
  margin-left: 50px;
}

.table__bottomEmpty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--scrollbar-bg-cl);
}

.table__titleEmpty {
  color: var(--main-text-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 2.71;
}

.tableScrollBox::-webkit-scrollbar-track {
  background-color: transparent;
  width: 100%;
}

.tableScrollBox::-webkit-scrollbar {
  width: 5px;
  background-color: var(--scrollbar-bg-cl);
}

.tableScrollBox::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 5px solid var(--training-bg-cl);
  border-radius: 2px;
}

.tableScrollBox::-webkit-scrollbar-thumb:hover {
  background: red;
}

.tableScrollBox {
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .tableScrollBox {
    max-height: 30vh;
  }
}

@media (min-width: 1280px) {
  .tableScrollBox {
    max-height: 42vh;
  }
}

.table__list::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}

.table__list::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.table__list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid var(--accent-active-cl);
  border-radius: 5px;
}

.table__list::-webkit-scrollbar-thumb:hover {
  background: var(--accent-active-cl);
}

.table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 11px;
  padding-bottom: 11px;
  color: var(--main-text-cl);
  border-bottom: 1px solid var(--scrollbar-bg-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

.table__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 17px;
}

.table__title {
  width: 33%;
  margin-right: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.table__author {
  width: 28%;
  margin-right: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.table__year {
  width: 15%;
}

.table__pagesTotal {
  width: 14%;
}

.table__btn {
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  width: 11%;
}
/*# sourceMappingURL=PlainingTabl.module.css.map */