@import "../../assets/sass/main.scss";

.column__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-top: 1px solid var(--scrollbar-bg-cl);
  @include font(500, 12px, 1.25);
  color: var(--secondary-text-cl);
}
div.column__list {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--scrollbar-bg-cl);
}
.column__flex {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.column__icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 35px;
  padding-right: 13px;
}
.column__title {
  color: var(--main-text-cl);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  width: 208px;
}
.column__right {
  padding-left: 35px;
  width: 40%;
  @include font(500, 12px, 2.8);
}
.column__left {
  width: 60%;
  padding-right: 30px;
  color: var(--main-text-cl);
  @include font(500, 12px, 2.8);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.table__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include font(500, 14px, 2.71);
  color: var(--secondary-text-cl);
  padding-top: 40px;
}
.table__top {
  border-top: 1px solid var(--scrollbar-bg-cl);
  border-bottom: 1px solid var(--scrollbar-bg-cl);
}
.table__top span:first-child {
  margin-right: 206px;
  @include vp(desktop) {
    margin-right: 305px;
  }
}
.table__top span:nth-child(2) {
  margin-right: 143px;
  @include vp(desktop) {
    margin-right: 180px;
  }
}
.table__top span:last-child {
  margin-left: 80px;
  @include vp(desktop) {
    margin-left: 100px;
  }
}
.table__topEmpty {
  border-top: 1px solid var(--scrollbar-bg-cl);
  border-bottom: 1px solid var(--scrollbar-bg-cl);
}
.table__topEmpty span:first-child {
  margin-right: 275px;
  @include vp(desktop) {
    margin-right: 292px;
  }
}
.table__topEmpty span:nth-child(2) {
  margin-right: 133px;
  @include vp(desktop) {
    margin-right: 172px;
  }
}
.table__topEmpty span:last-child {
  margin-left: 50px;
  @include vp(desktop) {
    margin-left: 68px;
  }
}
.table__bottomEmpty {
  display: flex;
  border-bottom: 1px solid var(--scrollbar-bg-cl);
}
.table__titleEmpty {
  color: var(--main-text-cl);
  @include font(500, 14px, 2.71);
}

.tableScrollBox::-webkit-scrollbar-track {
  background-color: transparent;
  width: 100%;
}
.tableScrollBox::-webkit-scrollbar {
  width: 5px;
  background-color: var(--scrollbar-bg-cl);
}
.tableScrollBox::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 5px solid var(--training-bg-cl);
  border-radius: 2px;
}
.tableScrollBox::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
.tableScrollBox {
  overflow-y: scroll;
  @include vp(tablet) {
    max-height: 30vh;
  }
  @include vp(desktop) {
    max-height: 42vh;
  }
}
.table__list::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px var(--training-bg-cl);
  background-color: transparent;
  border-radius: 2px;
}
.table__list::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
.table__list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid var(--training-bg-cl);
  border-radius: 5px;
}
.table__list::-webkit-scrollbar-thumb:hover {
  background: var(--training-bg-cl);
}
.table__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 17px;
  width: 39px;
}

.icon__book {
  color: var(--placeholder-text-cl);
}
