.homePage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: grey;
}

.pages{
 position: absolute;
 bottom: 0;
 right: 0;
 width: 100%;
 display: flex;
 justify-content: space-between;
}
.page{
    padding: 20px;
    background-color: green;
    cursor: pointer;
}