@import "../../assets/sass/main.scss";

.chartText {
  @include vp(mobile) {
    margin-bottom: 9px;
    padding-left: 6px;
  }

  @include vp(tablet) {
    margin-bottom: 12px;
  }

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 3.17;
  text-transform: uppercase;
  color: #242a37;
}

.chartText__Span {
  display: inline-flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
  background-color: var(--auth-bg-cl);
}

.chart {
  @include vp(mobile) {
    width: 100%;
    height: 190px;
  }

  @include vp(tablet) {
    height: 215px;
  }
  @include vp(desktop) {
    width: 811px;
    height: 235px;
  }
}

//
.chartWrapper {
  position: relative;
  padding: 20px 22px 5px 22px;
  height: 290px;
  background-color: var(--main-bg-cl);
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.25);
  margin-top: 30px;
  @include vp(tablet) {
    padding: 31px 36px 12px 36px;
    width: 678px;
    height: 340px;
    margin-top: 40px;
  }
  @include vp(desktop) {
    padding: 31px 37px 12px 39px;
    width: 886px;
  }
}
