.chartWrapper {
  width: 928px;
  height: 340px;
  font-weight: normal;
  font-size: 40px;
}

.chartText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #242a37;
}
