body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background-color: var(--secondary-bg-cl);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}
:root {
  --body-bg: #E5E5E5;
  --main-text-cl: #242A37;
  --error-text-color: #ff0000;
  --secondary-text-cl: #898F9F;
  --placeholder-text-cl: #A6ABB9;
  --additional-text-cl: #000000;
  --auth-bg-cl: #F5F7FA;
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #F6F7FB;
  --additional-bg-cl: #6D7A8D;
  --training-bg-cl: #B1B5C2;
  --chart-plan-cl: #091E3F;
  --accent-active-cl: #FF6B08;
  --accent-active-cl-hover: #da5b06;
  --scrollbar-bg-cl:#E0E5EB;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 1280px) {
  .page__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 50px;
  }
}

.page__wrapperStat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .page__wrapperStat {
    padding-top: 30px;
  }
}

@media (min-width: 1280px) {
  .page__wrapperStat {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 15px;
  }
}

.left__wrapper {
  margin-bottom: 30px;
}

@media (min-width: 1280px) {
  .left__wrapper {
    border: 1px solid green;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.right__wrapper {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .right__wrapper {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .right__wrapper {
    border: 1px solid red;
  }
}

.button__plus {
  position: fixed;
  right: 136px;
  bottom: 25px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: var(--accent-active-cl);
}

.button__plus:hover, .button__plus:focus {
  background-color: var(--accent-active-cl-hover);
}

.react__icon {
  color: var(--main-bg-cl);
  position: relative;
  top: 0;
  right: 0;
}

.button__arrow {
  border: none;
  background-color: transparent;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__arrow {
  color: var(--accent-active-cl);
}
/*# sourceMappingURL=TrainingPage.module.css.map */