@import "../../assets/sass/main.scss";
.page__wrapper {
  display: flex;
  flex-direction: column;
  @include vp(desktop) {
    flex-direction: row-reverse;
    padding-top: 50px;
  }
}
.left__wrapper {
  @include vp(desktop) {
    margin-right: 41px;
  }
}
.button__plus {
  position: fixed;
  right: 136px;
  bottom: 25px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: var(--accent-active-cl);
  &:hover,
  &:focus {
    background-color: var(--accent-active-cl-hover);
  }
}
.react__icon {
  color: var(--main-bg-cl);
  position: relative;
  top: 0;
  right: 0;
}
.button__arrow {
  border: none;
  background-color: transparent;
  width: 26px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icon__arrow {
  color: var(--accent-active-cl);
}
