@import "../../assets/sass/main.scss";
.page__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  @include vp(desktop) {
    flex-direction: row-reverse;
    padding-top: 50px;
  }
}
.page__wrapperStat {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 30px;
  @include vp(tablet) {
    padding-top: 30px;
  }
  @include vp(desktop) {
    flex-direction: row-reverse;
    padding-top: 15px;
  }
}
.left__wrapper {
  margin-bottom: 30px;
  @include vp(desktop) {
    border: 1px solid green;
    margin-right: 40px;
    margin-bottom: 0;
  }
}
.right__wrapper {
  margin-bottom: 30px;
  @include vp(tablet) {
    margin-bottom: 0;
  }
  @include vp(desktop) {
    border: 1px solid red;
  }
}
.button__plus {
  position: fixed;
  right: 136px;
  bottom: 25px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: var(--accent-active-cl);
  &:hover,
  &:focus {
    background-color: var(--accent-active-cl-hover);
  }
}
.react__icon {
  color: var(--main-bg-cl);
  position: relative;
  top: 0;
  right: 0;
}
.button__arrow {
  border: none;
  background-color: transparent;
  width: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icon__arrow {
  color: var(--accent-active-cl);
}

.chartWrapper {
  position: relative;
  padding: 20px 22px 5px 22px;
  height: 290px;
  background-color: var(--main-bg-cl);
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.25);

  @include vp(tablet) {
    padding: 31px 36px 12px 36px;
    width: 678px;
    height: 340px;
  }
  @include vp(desktop) {
    padding: 31px 37px 12px 39px;
    width: 886px;
  }
}
