@import '../../assets/sass/styles/mixin';

.login{
    background-color: var(--main-bg-cl);
    @include vp(desktop){
        display: flex;
        height: 790px;
    }
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180px;
    // border: 1px solid red;
    @include vp(desktop){
        height: 100%;
        width: 100%;
    }
}

.quoteContent{
    position: relative;
}

.quoteText{
    @include font(500, 13px, 16px); 
    @include vp(tablet) {
            width: 300px;
        }
}

.author{
    margin-top: 10px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid var(--secondary-text-cl);
}

.quoteAuthor{
    color: var(--secondary-text-cl);
    @include font(500, 14px, 38px )
}
.iconQuote{
    fill: var(--accent-active-cl);
    width: 20px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
