@import 'assets/sass/styles/mixin';

.homePage{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 580px;
    background-color: var(--main-bg-cl);
    padding: 30px 25px 60px;
    justify-content: space-between;
    
    h1{
        text-align: center;
        color: var(--main-text-cl);
        font-family: Abril Fatface;
        @include font(400, 34px, 38px);
        @include vp(tablet){
            margin-bottom: 40px;
        }
    }
    h2{
        color: var(--main-text-cl);
        &:nth-last-child(n){
            margin-top: 20px;
        }
        @include font(500, 20px, 38px);
        @include vp(tablet) {
                margin-bottom: 5px;
            }
    }
    @include vp(tablet){
        padding: 0 140px;        
        height: 530px;
        justify-content: center;
        @include font(500, 14px, 38px);
    }
    @include vp(desktop){
        height: 100%;
        padding-left: 90px;
        justify-content: center;
    }
}

.pages{
 width: 100%;
 display: flex;
 justify-content: space-between;
}
.page{
    width: 100px;
    text-align: center;
    color: var(--main-text-cl);
    background-color: var(--accent-active-cl);
    cursor: pointer;
    @include font(500, 14px, 36px);
    &:hover{
        outline: 1px solid var(--main-text-cl);
        background-color: var(--main-bg-cl);
    }
}