@import '../../assets/sass/styles/mixin';

.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 30, 63, 0.8);
    // background: url(../../assets/images/pic.webp)  no-repeat ;
    @include vp(tablet){
        height: 790px;
    }
    @include vp(desktop){
        width: 560px;
    }
}

.google{
    text-align: center;
    button{
        position: relative;
        width: 150px;        
        @include font(700, 16px, 38px);
        color: var(--secondary-text-cl);
    }
}
.iconGoogle{
    position: absolute;
    // background-color: red;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 20px;
    width: 20px;
    height: 20px;

}

.form {
    padding: 30px 25px 10px;
    display: block;
    width: 100%;
    
    @include vp(tablet){
        width: 400px;
        height: 420px;
        padding: 30px 40px 10px;
        background-color: var(--main-bg-cl);
    }

}

.formReg {
    composes: form;
    @include vp(tablet) {
            height: 580px;
        }
}

.name, .email, .password{
    color: var(--auth-bg-cl);
    margin-top: 10px;
    @include vp(tablet){
    color: var(--main-text-cl);
    }
    p{
        @include font(600, 14px, 38px);
      
    }   
    b{
        color: var(--accent-active-cl);
    }
}

.errorMessage{
    position: absolute;
    color: var(--error-text-color);
}

.nameInput, .emailInput, .passwordInput{
    width: 100%;
    height: 40px;
    padding-left: 10px;
}



.buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login{
    margin-top: 30px;
    padding: 10px;
    color: var(--form-text-color);
    background-color: var(--accent-active-cl);
    border: none;
    height: 60px;
    @include font(600, 16px, 38px)
}

.changePage{
    color: var(--accent-active-cl);
    text-decoration: underline;
    padding: 10px;
    @include font(500, 13px, 38px)
}

.alreadyReg{
    color: var(--secondary-text-cl);
}