@import "../../assets/sass/main.scss";

.titles {
  width: 62px;
  height: 38px;

  margin-top: 25px;

  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 38px;

  color: var(--main-text-cl);
}

@include vp(tablet) {
  .titles {
    margin-top: 0px;
  }
}

.titlesMargin {
  margin-top: 25px;
}

@include vp(tablet) {
  .titlesMargin {
    margin-top: 0px;
  }
}
.textBlock {
  display: flex;
  align-items: center;
  text-align: center;
}

.underTitle {
  width: 169px;

  margin-left: 10px;
  margin-right: 37px;

  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 38px;

  color: var(--main-text-cl);
}

@include vp(tablet) {
  .underTitle {
    margin-right: 0px;
    width: 193px;
    font-size: 15px;
  }
}

.textBl {
  display: flex;
  align-items: center;

  margin-left: 35px;
}

.text {
  width: 190px;

  margin-left: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: var(--secondary-text-cl);
}

@include vp(tablet) {
  .text {
    width: 319px;
    height: 38px;

    margin-left: 10px;

    line-height: 38px;
  }
}
