@import "../../assets/sass/main.scss";

.form {
  display: flex;
  margin-top: 30px;
  @media screen and (max-width: 1279px) {
    flex-direction: column;
    // align-items: center;
  }
  @media screen and (min-width: 768px) {
    padding-left: 44px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 0;
  }

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__label {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.71;
    color: var(--secondary-text-cl);
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
    &:not(:nth-last-child(n + 3)) {
      @media screen and (min-width: 768px) {
        margin-left: 27px;
      }
      @media screen and (min-width: 1280px) {
        margin-left: 0;
      }
    }
    &:not(:first-child) {
      @media screen and (min-width: 1280px) {
        margin-left: 27px;
      }
    }
  }
  &__btn {
    width: 171px;
    height: 42px;
    background: var(--secondary-bg-cl);
    border: 1px solid var(--additional-text-cl);
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    @media screen and (max-width: 1279px) {
      margin: 0 auto;
      margin-top: 40px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: 45px;
      margin-top: 37px;
    }

    &:hover,
    &:focus {
      background: var(--secondary-bg-cl);
      color: var(--additional-text-cl);
    }
  }
}

input {
  background: var(--secondary-bg-cl);
  border: 1px solid var(--placeholder-text-cl);
  box-sizing: border-box;
  height: 42px;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 15px;

  &:focus {
    background-color: var(--primary-bg-color);
  }

  &.title {
    @media screen and (min-width: 768px) {
      width: 594px;
    }
    @media screen and (min-width: 1280px) {
      width: 346px;
    }
  }
  &.author {
    @media screen and (min-width: 768px) {
      width: 250px;
    }
    @media screen and (min-width: 1280px) {
      width: 250px;
    }
  }
  &.yearPages {
    @media screen and (min-width: 768px) {
      width: 145px;
    }
    @media screen and (min-width: 1280px) {
      width: 130px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.errorMessage {
  font-size: 15px;
  color: var(--error-text-color);
}
