@import "../../assets/sass/styles/_mixin.scss";

.counterTitle {
    font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 38px;
        /* identical to box height, or 271% */
    
        text-align: center;
    
        color: #898F9F;
}


@include vp(tablet) {
    .counterDiv {
        display: flex;
        justify-content: space-around;
    }
}

@include vp(tablet) {
    .counterTitle {
        width: 290px;
    }
}