@import "../../assets/sass/main.scss";
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  z-index: 1100;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  z-index: 1100;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
  width: 320px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 25px;
  padding-right: 25px;
}

@include vp(tablet) {
  .header {
    width: 768px;
  }
}
@include vp(desktop) {
  .header {
    width: 1280px;
  }
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authHead {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  height: 60px;
  z-index: 1100;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--main-bg-cl);
}

.authHeader {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  height: 60px;
  z-index: 1100;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--main-bg-cl);
  width: 320px;
}

@include vp(tablet) {
  .authHeader {
    width: 768px;
  }
}
@include vp(desktop) {
  .authHeader {
    width: 1280px;
  }
}

@include vp(mobile-only) {
  .authHeader {
    justify-content: center;
  }
}

// @include vp(tablet) {
//   .header {
//     justify-content: space-around;
//   }
// }

.navMenu {
  display: flex;
  align-items: center;
  text-align: center;
}

.navMenuContainer {
  display: flex;
  align-items: center;
  text-align: center;
}

@include vp(tablet) {
  .navMenu {
    align-items: flex-end;
    margin-left: 0px;
  }
}

.logo {
  align-items: center;
  text-align: center;
}

.navItem {
  margin-right: 15px;
}

.title {
  font-family: "Abril Fatface";
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  margin-top: 3px;
  // margin-bottom: revert;
  color: var(--main-text-cl);
}

.link {
  display: block;

  width: 33px;
  height: 33px;

  text-align: center;
  text-decoration: none;
  border-radius: 50%;

  transition: background-color 350ms ease;

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: var(--auth-bg-cl);
  }
}

.titleLink {
  display: block;

  // margin-left: 25px;

  width: 33px;
  height: 33px;

  text-align: center;
  text-decoration: none;
  border-radius: 50%;

  transition: background-color 350ms ease;
  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: var(--auth-bg-cl);
  }
}

.authTitleLink {
  display: block;

  width: 33px;
  height: 33px;

  text-align: center;
  text-decoration: none;
  border-radius: 50%;

  transition: background-color 350ms ease;
  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: var(--auth-bg-cl);
  }
}
@include vp(tablet) {
  .title {
    margin-left: -3.25%;
  }
}

@include vp(desktop) {
  .title {
    margin-left: -1.95%;
  }
}

.line {
  width: 1px;
  height: 22px;
  text-align: center;
  margin-right: 14px;
  margin-top: 7px;
}

.svg {
  width: 22px;
  height: 33px;
  fill: var(--placeholder-text-cl);
}

.accLogoTablet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  margin-top: 1px;

  border-radius: 50%;
  margin-right: 14px;
  @include font(600, 14px, 2.71);
  // text-align: center;
  background-color: var(--auth-bg-cl);
}

.userName {
  margin-top: 9px;
}

.userBar {
  display: none;
}

@include vp(tablet) {
  .userBar {
    display: flex;
    margin-right: 12%;
    margin-left: 20%;
  }
}
@include vp(desktop) {
  .userBar {
    margin-right: 22%;
    margin-left: 30%;
  }
}

.noVision {
  display: none;
}
