body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background-color: var(--secondary-bg-cl);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}
:root {
  --body-bg: #E5E5E5;
  --main-text-cl: #242A37;
  --error-text-color: #ff0000;
  --secondary-text-cl: #898F9F;
  --placeholder-text-cl: #A6ABB9;
  --additional-text-cl: #000000;
  --auth-bg-cl: #F5F7FA;
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #F6F7FB;
  --additional-bg-cl: #6D7A8D;
  --training-bg-cl: #B1B5C2;
  --chart-plan-cl: #091E3F;
  --accent-active-cl: #FF6B08;
  --accent-active-cl-hover: #da5b06;
  --scrollbar-bg-cl:#E0E5EB;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  z-index: 1100;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
          box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  width: 100%;
}

.authHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 60px;
  z-index: 1100;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
          box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  width: 100%;
}

@media (max-width: 767.99px) {
  .authHeader {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navMenuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .navMenu {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 0px;
  }
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navItem {
  margin-right: 15px;
}

.title {
  font-family: "Abril Fatface";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  text-decoration: none;
  color: var(--main-text-cl);
}

.link {
  display: block;
  width: 33px;
  height: 33px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: background-color 350ms ease;
  transition: background-color 350ms ease;
}

.link:hover, .link:focus {
  border-radius: 50%;
  background-color: var(--auth-bg-cl);
}

.titleLink {
  display: block;
  margin-left: 25px;
  width: 33px;
  height: 33px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: background-color 350ms ease;
  transition: background-color 350ms ease;
}

.titleLink:hover, .titleLink:focus {
  border-radius: 50%;
  background-color: var(--auth-bg-cl);
}

@media (min-width: 768px) {
  .title {
    margin-left: -3.25%;
  }
}

@media (min-width: 1280px) {
  .title {
    margin-left: -1.95%;
  }
}

.line {
  width: 1px;
  height: 22px;
  text-align: center;
  margin-right: 14px;
}

.svg {
  width: 22px;
  height: 33px;
  fill: var(--placeholder-text-cl);
}

.accLogo {
  width: 33px;
  margin-right: 14px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--auth-bg-cl);
}

@media (min-width: 768px) {
  .accLogo {
    display: none;
  }
}

.accLogoTablet {
  width: 33px;
  margin-right: 14px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--auth-bg-cl);
}

.logout__button {
  border: none;
  background-color: transparent;
  color: #bdbdbd;
  text-decoration: underline;
  margin-right: 4.25%;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.logout__button:hover, .logout__button:focus {
  color: var(--main-text-cl);
}

@media (min-width: 768px) {
  .logout__button {
    margin-right: -3.25%;
  }
}

@media (min-width: 1280px) {
  .logout__button {
    margin-right: -1.95%;
  }
}

.userBar {
  display: none;
}

@media (min-width: 768px) {
  .userBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 12%;
    margin-left: 20%;
  }
}

@media (min-width: 1280px) {
  .userBar {
    margin-right: 22%;
    margin-left: 30%;
  }
}

.exitText {
  margin-right: 21px;
  margin-left: 20px;
  margin-top: 27px;
  margin-bottom: 20px;
  width: 237px;
  height: 66px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--main-text-cl);
}

@media (min-width: 768px) {
  .exitText {
    width: 329px;
    height: 44px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 27px;
    margin-bottom: 26px;
  }
}

.modalButtonBlock {
  text-align: center;
}

.notExit {
  width: 130px;
  height: 40px;
  border: 1px solid var(--main-text-cl);
  background-color: transparent;
  margin-right: 30px;
}

@media (min-width: 768px) {
  .notExit {
    width: 98px;
  }
}

.exit {
  width: 97px;
  height: 40px;
  border: none;
  background: var(--accent-active-cl);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.exit:hover, .exit:focus {
  background-color: var(--accent-active-cl-hover);
}

@media (min-width: 768px) {
  .exit {
    width: 130px;
  }
}

.notExitText {
  width: 49px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: var(--main-text-cl);
}

.buttonExitText {
  width: 103px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: var(--main-bg-cl);
}
/*# sourceMappingURL=MainNav.module.css.map */