:root {
    --body-bg: #E5E5E5;
    --main-text-cl: #242A37;
    --error-text-color: red;
    --secondary-text-cl: #898F9F;
    --placeholder-text-cl: #A6ABB9;
    --additional-text-cl: #000000;
    --auth-bg-cl: #F5F7FA;
    --main-bg-cl: #ffffff;
    --secondary-bg-cl: #F6F7FB;
    --additional-bg-cl: #6D7A8D;
    --training-bg-cl: #B1B5C2;
    --chart-plan-cl: #091E3F;
    --accent-active-cl: #FF6B08;
    --accent-active-cl-hover: #da5b06;
    --scrollbar-bg-cl:#E0E5EB;
  }
