:root {
  --body-bg: #e5e5e5;
  --main-text-cl: #242a37;
  --buttons-text-cl: #ffffff;
  --error-text-color: #ff0000;
  --error-page-fill: #969696;
  --secondary-text-cl: #898f9f;
  --placeholder-text-cl: #a6abb9;
  --additional-text-cl: #000000;
  --auth-bg-cl: #f5f7fa;
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f6f7fb;
  --additional-bg-cl: #6d7a8d;
  --training-bg-cl: #b1b5c2;
  --chart-plan-cl: #091e3f;
  --accent-active-cl: #ff6b08;
  --accent-active-cl-hover: #da5b06;
  --scrollbar-bg-cl: #e0e5eb;
}
